
 img{
  width: auto;
  height: auto;
 }
 #btnmodalcancel{
 	width: 100px;
 	height: 36px;
 	background-color: red;
 	font-size: 14px;
 	padding-bottom: 5px;
 }

  #btnmodaladd{
 	width: 100px;
 	height: 36px;
 	background-color: #0db4bd;
 	font-size: 14px;
 	padding-bottom: 5px;
 }

 #upload{
 	background-color: #09b3ad;
 	border-radius: 10px;
 	width: 100px;
 	font-size: 14px;  
 }

 #card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #11d4b3;
  }

 .title {
  color: red;
  font-size: 14px;
  }

  #button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  border-radius: 50px;
  background-color: #0db4bd;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
  margin-top: 8px;
  }

  #btn:hover, a:hover {
  opacity: 0.7;
  }

  #btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  border-radius: 50px;
  background-color: #edf2e9;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
  margin-top: 8px;
  }

  #a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  }

  /*Flip Card*/
	  .flip-card {
	  background-color: transparent;
	  width: 300px;
	  height: 200px;
	  border: 1px solid #f1f1f1;
	  perspective: 1000px; /* Remove this if you don't want the 3D effect */
		}

	/* This container is needed to position the front and back side */
	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  transition: transform 0.8s;
	  transform-style: preserve-3d;
	}

	/* Do an horizontal flip when you move the mouse over the flip box container */
	.flip-card:hover .flip-card-inner {
	  transform: rotateY(180deg);
	}

	/* Position the front and back side */
	.flip-card-front, .flip-card-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  backface-visibility: hidden;
	}

	/* Style the front side (fallback if image is missing) */
	.flip-card-front {
	  background-color: #f1f1f1;
	  color: black;
	}

	/* Style the back side */
	.flip-card-back {
	  background-color: white;
	  color: black;
	  transform: rotateY(180deg);
	}